
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1 class="page-header">My Profile</h1>
        <h2>Total Miles Earned: 0</h2>
        <h2>Reservations</h2>

        <!-- make the following code dynamic -->
        <ul>
          <li><a href="#">Flight #176. 4/16/13  ORD-JFK  9:30AM - 11:08AM</a></li>
          <li><a href="#">Flight #461. 6/11/13  LAX-MDW  10:20AM - 2:47PM</a></li>
        </ul>
      </div>
    </div>
  </div>

  <hr>
