
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1 class="page-header">My Profile</h1>
        <h2>Total Miles Earned: 0</h2>
        <h2>Reservations</h2>
        <ul>
          <% @user.reservations.each do |reservation| %>
            <li><%= link_to reservation.formatted, reservation_path(reservation.id) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <hr>
